@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';
@import './welcome_screen/index.scss';
@import './button/index.scss';
@import './formularios/index.scss';
@import './map/index.scss';
@import './caratulas/index.scss';





html, body {
  padding: 0;
  margin: 0;
  justify-content: center;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.map-sidebar-container {
  display: flex;
  height: 100vh;
}

.map-container {
  flex: 1; /* El mapa ocupará el espacio restante */
}

.sidebar-container {
  width: 300px; /* Ancho fijo para la barra lateral */
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: relative;
}

.card-detail {
  font-family: Arial, sans-serif;
}

.card-detail h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-detail p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-detail button {
  width: 20%;
    padding: 8px 0;
    background-color: #6b46c1;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-detail button:hover {
  background-color: #553c9a;
}
