@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';
@import './welcome_screen/index.scss';
@import './button/index.scss';
@import './formularios/index.scss';
@import './map/index.scss';

html, body {
  padding: 0;
  margin: 0;
  justify-content: center;
}

* {
  font-family: 'Open Sans', sans-serif;
}
