.container_form {
    display: flex;
    gap: 4rem;
    margin-left: 20px;
    margin-top: 10px;
    max-height:max-content;
    justify-content: center;
}

.container_form_der {
    display: flex;
    gap: 4rem;
    margin-left: 20px;
    margin-top: 10px;
    max-height:max-content;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 45%;
}

.formulario input,
.formulario textarea {
    padding: .5rem;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid black;
}

.formulario input:focus, .formulario textarea:focus {
    outline: 0;
    border: 1px solid black;
    outline: 1px solid black;
}

.tipo-solicitud {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
}

.tipo-solicitud label {
    font-weight: bold;
}

.tipo-solicitud .input-field {
    width: 100%;
    border: 1px solid #ccc;
    padding: .5rem;
    border-radius: .5rem;
}

.tipo-solicitud .input-field::placeholder {
    color: #aaa;
}

.map-container {
    width: 40%; /* Ajusta el ancho para que ocupe el espacio de la segunda columna */
    display: flex;
    justify-content: center;
    align-items: center; 
}

.map-container img {
    width: 100%;
    border-radius: .5rem;
}
