.info.legend {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
  
  .info.legend img {
    vertical-align: middle;
    margin-right: 5px;
  }